* {
    font-family: Arial;

}

body {
color:white;
}

html {
    background-color:black;
}

main {
    border-left: solid orange;
    border-right: solid blue;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;

}

img.web-bild {
    width: 350px;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
}

.internet-abschnitt {
    display:flex;
    flex-direction: row;
    flex-flow: row;
}

#ablauf-internet-titel {
    margin-top: 110px;
}

.ablauf-internet-abschnitt {
    display:flex;
    flex-direction: row;
}

img.zugriff-website {
    width:500px;
    height: 280px;
    padding-left: 20px;
    padding-top: 20px;
}

#elemente-titel {
    margin-top: 50px;
}

#haupttitel {
    text-align: center;
    padding-bottom: 20px;
    font-size: 36px;
}

.nav-liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, orange, blue);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.dropdown-content-1 {
    display: none;
    position: absolute;
    background: linear-gradient( orange, blue);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;

}

.dropdown-content-1 a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;

}

.dropdown:hover .dropdown-content-1 {
    display :block;
}


.nav-liste li {
    list-style-type: none;
    padding: 20px 60px 20px 60px;
    width:33.3%;
}

.nav-liste a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

#knopf-html a:hover {
text-decoration: underline;
}

a:active {
    background-color: content
}

#titel-html {
    position: top 0px;
    display: flex;
    justify-content: center;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-content-1 {
    display:none;
    position:absolute;
}

.dropdown:hover .dropdown-content-1 {
    display: block;
}

.dropdown-content-1 a:hover {
    background-color:rgba(0, 0, 0, 0.5);
}


.dropdown-2:hover .dropdown-content-2 {
    display:block;
}

.dropdown-content-2 {
    display:none;
    position:absolute;
}

.dropdown-2 {
    position:relative;
    display:inline-block;
}

.dropdown-content-2 {
    display: none;
    position: absolute;
    background: linear-gradient( orange, blue);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.dropdown-content-2 a:hover {
    background-color:rgba(0, 0, 0, 0.5);
}

.dropdown-content-2 a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;
}


#tabellen-link:hover {
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;

}

#titel-internet { 
    text-align: center;   
    padding-bottom: 40px;
    font-size: 28px;                                                                                                                                                 
}

#html-main-titel {
    font-size: 28px;
    text-align: center;
    margin-top: 200px;
}

.html-abschnitt {
    display: flex;
    flex-flow: column;
}

img.html-elemente {
    width: 600px;
    height: 200px;
}

#knopf-html {
    border-style:none;
    background:content-box;

}

#knopf-html:hover {
    background:rgba(0, 0, 0, 0.3);
}

#knopf-css {
    border-style:none;
    background:content-box;

}

#knopf-css a:hover {
    text-decoration: underline;
}

#knopf-css:hover {
    background:rgba(0, 0, 0, 0.3);

}

#knopf-sonstiges {
    border-style:none;
    background:content-box;

}

#knopf-sonstiges:hover {
    background:rgba(0, 0, 0, 0.3);
}

img.formulare-arten {
    width: 400px;
    position: relative;
}

.footer-liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, orange, blue);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    padding: 20px 60px 20px 60px;
    margin-top: 100px;

}

.footer-liste li {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;

}

#css-titel {
    font-size: 28px;
    text-align: center;
    margin-top: 200px;

}

#tabelle-css {
    margin-top: 50px;
}

#css-einbinden-titel {
    margin-top: 110px;
}
#tabellen-titel {
    margin-top: 110px;
}

#links-titel {
    margin-top: 110px;
}

#elemente-titel {
    margin-top: 110px;
}

#besonderes-markup-titel {
    margin-top: 110px;
}

#listen-titel {
    margin-top: 110px;
}

#formulare-titel {
    margin-top: 110px;
}

#formulare-titel-css {
    text-decoration: underline;
    margin-top: 50px;
}

#fva-titel {
    margin-top: 110px;
}

#bilder-titel {
    margin-top: 110px;
}

#css-regel-titel {
    margin-top: 110px;

}

#selektor-titel {
    margin-top: 110px;

}

#text-titel {
    margin-top: 110px;

}

#fonts-titel {
    margin-top: 110px;

}

#farbe-titel {
    margin-top: 110px;

}

#kaesten-titel {
    margin-top: 110px;

}

#ltf-titel {
    margin-top: 110px;

}

#css-bilder-titel {
    margin-top: 110px;

}

#boxmodel-titel {
    margin-top: 110px;

}

#flexbox-titel {
    margin-top: 110px;

}

#mq-titel {
    margin-top: 110px;

}

#praxis {
    font-size: 28px;
    text-align: center;
    margin-top: 200px;
}

#Wireframe {
    margin-top: 110px;
}

#sitemap {
    margin-top: 110px;
}

#wireframe-beispiel {
    width: 700px;
    height: 400px;
}

#validierung-titel {
    margin-top: 110px;
}

#validierung {
    width: 600px;
    height: 300px;
}

#layout-html {
    margin-top: 110px;
}

#testprotokoll {
    margin-top: 110px;
}


