body {
color:white;
}

html {
    background-color:black;
}

main {
    border-left: solid orange;
    border-right: solid blue;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
}

img.web-bild {
    width: 350px;
    height: 200px;
}

.internet-abschnitt {
    display:flex;
    flex-direction: row;
    flex-flow: row;
}

.ablauf-internet-abschnitt {
    margin-top:100px;
}


#haupttitel {
    text-align: center;
    padding-bottom: 20px;
}

.nav-liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, orange, blue);
    padding-top: 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.nav-liste li {
    list-style-type: none;
    padding: 20px 60px 20px 60px;
}

.nav-liste a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

a:hover {
text-decoration: underline;
}

a:active {
    background-color: content
}

#titel-html {
    position: top 0px;
    display: flex;
    justify-content: center;
}

#titel-html:hover .dropdown-liste {
    display:block;
}


.dropdown-liste {
    display:none;
}

#titel-internet {
    display:flex;
    padding-top: 40px;                                                                                                                                                     
}

#knopf-html {
    border-style:none;
    background:content-box;

}

#knopf-html:hover {
    background:rgba(0, 0, 0, 0.5);
}

#knopf-css {
    border-style:none;
    background:content-box;

}

#knopf-css:hover {
    background:rgba(0, 0, 0, 0.5);

}

#knopf-sonstiges {
    border-style:none;
    background:content-box;

}

#knopf-sonstiges:hover {
    background:rgba(0, 0, 0, 0.5);
}